h2 Informações da conta
 
table.table
    thead
        tr
            th Numero da Conta
            th Limite
            th Agencia
            th
    tbody
    - @bank_accouts.each do |bank_accout|
        tr
            td = bank_accout.try(:accout_number)
            td = bank_accout.try(:limite)
            td = bank_accout.try(:agency).try(:agency_number)

h3 ultimas transações

table.table
  thead
    tr
      th Data transaction
      th Value
      th Type

  tbody
    - @bank_transactions.limit(5).each do |bank_transaction|
      tr
        td = bank_transaction.try(:data_transaction)
        td = bank_transaction.try(:value)
        td = bank_transaction.try(:transaction_type)
        td = link_to 'Show', bank_transaction