= form_for @bank_transaction do |f|
  - if @bank_transaction.errors.any?
    #error_explanation
      h2 = "#{pluralize(@bank_transaction.errors.count, "error")} prohibited this bank_transaction from being saved:"
      ul
        - @bank_transaction.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :data_transaction
    = f.date_select :data_transaction
  .field
    = f.label :value
    = f.number_field :value
  .field
    = f.select :transaction_type, BankTransaction.transaction_types.keys,\
    {prompt: 'Selecione uma conta de origem'}, {class: "form-control"}
  .field
    = f.collection_select :accout_origin_id, BankAccout.where(user_id: current_user.id), :id, :accout_number,\
    {prompt: 'Selecione uma conta Sua'}, {class: "accout form-control"}
  .field
    = f.collection_select :accout_destiny_id , BankAccout.where.not(user_id: current_user.id), :id, :show_number_user,\
    {prompt: 'Selecione uma conta de destino'}, {class: "accout form-control"}
  .actions
    = f.submit

