h1 Listing bank_transactions

table.table
  thead
    tr
      th Data transaction
      th Value
      th Type
      th
      

  tbody
    - @bank_transactions.each do |bank_transaction|
      tr
        td = bank_transaction.try(:data_transaction)
        td = bank_transaction.try(:value)
        td = bank_transaction.try(:transaction_type)
        td = link_to 'Show', bank_transaction

br

= link_to 'New Bank transaction', new_bank_transaction_path
