p#notice = notice

p
  strong Data transaction:
  = @bank_transaction.data_transaction
p
  strong Value:
  = @bank_transaction.value
p
  strong Type:
  = @bank_transaction.transaction_type
p
  strong Accout origin:
  = @bank_transaction.accout_origin.try(:accout_number)
p
  -if(@bank_transaction.accout_destiny.nil?)
      br
  -else
      strong Accout destiny:
      = @bank_transaction.accout_destiny.try(:accout_number)


=< link_to 'Back', bank_transactions_path
