= form_for @bank_accout do |f|
  - if @bank_accout.errors.any?
    #error_explanation
      h2 = "#{pluralize(@bank_accout.errors.count, "error")} prohibited this bank_accout from being saved:"
      ul
        - @bank_accout.errors.full_messages.each do |message|
          li = message
  .
  .form-group
    = f.label "Numero da conta"
    = f.number_field :accout_number, class: "form-control"
  .form-group
    = f.label "Limite" 
    = f.number_field :limite, class: "form-control"
  .form-control
    = f.label "Agencia"
    = collection_select :bank_accout, :agency_id, Agency.all, :id, :agency_number, class: "form-control", prompt: 'Selecione uma opção'
  .actions
  = f.submit "Salvar"
