h1 Contas Bancárias

table.table.table-striped.table-bordered.table-condensed
  thead
    tr
      th Numero da Conta
      th Limite
      th Agencia
      th Detalhes
      th Editar
      th Excluir

  tbody
    - @bank_accouts.each do |bank_accout|
      tr
        td = bank_accout.try(:accout_number)
        td = bank_accout.try(:limite)
        td = bank_accout.try(:agency).try(:agency_number)
        td = link_to bank_accout, class: "btn btn-info btn-flat" do
          i.fa.fa-eye
          span  Detalhes
          
        td = link_to edit_bank_accout_path(bank_accout), class: "btn btn-warning btn-flat" do
          i.fa.fa-edit
          span  Editar
        td = link_to bank_accout, data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger btn-flat" do
          i.fa.fa-trash
          span  Excluir

br
= link_to 'Nova conta bancaria', new_bank_accout_path, class: "btn btn-primary btn-flat"
