p#notice = notice

p
  strong Accout number:
  = @bank_accout.accout_number
p
  strong Limite:
  = @bank_accout.limite
p
  strong User:
  = @bank_accout.user.email
p
  strong Agency:
  = @bank_accout.agency.agency_number

=> link_to 'Edit', edit_bank_accout_path(@bank_accout)

=< link_to 'Back', bank_accouts_path
