= form_for @agency do |f|
  - if @agency.errors.any?
    #error_explanation
      h2 = "#{pluralize(@agency.errors.count, "error")} prohibited this agency from being saved:"
      ul
        - @agency.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :agency_number
    = f.number_field :agency_number
  .field
    = f.label :address
    = f.text_field :address
  .actions = f.submit
