h1 Listing agencies

table.table
  thead
    tr
      th Agency number
      th Address
      th
      th

  tbody
    - @agencies.each do |agency|
      tr
        td = agency.agency_number
        td = agency.address
        td = link_to 'Show', agency
        td = link_to 'Edit', edit_agency_path(agency)
        td = link_to 'Destroy', agency, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Agency', new_agency_path
