<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <%= link_to(root_path, class: "logo") do %>
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>S</b>BC</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Sistema </b>Bancario</span>
    <% end %>
    
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bars"></span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i>
            <span class="hidden-xs"> <%= current_user.try(:email) %> </span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
              <i class="fa fa-user fa-4x"></i>
              <p>
                  <%= current_user.try(:email) %>
                <small>Member since <%= current_user.try(:created_at) %></small>
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-right">
                <%= link_to('Sign out', destroy_user_session_path, method: :delete, class: "btn btn-default btn-flat") %>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to(edit_user_registration_path) do %>
            <i class="fa fa-gears"></i>
          <% end %>
          <!-- <a href="/users/edit" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a> -->
        </li>
      </ul>
    </div>
  </nav>
</header>
