<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">


    <!-- search form (Optional)
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
     /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Opções</li>
        <!-- Optionally, you can add icons to the links -->
      <li>
        <%= link_to agencies_path do %>
          <i class="fa fa-bank"></i>
          <span> Agencia</span>
        <% end %>
        </li>
      <li>
        <%= link_to bank_transactions_path	do %>
          <i class="fa fa-exchange"></i>
          <span>Movimentações</span>
        <% end %>
      </li>
      <li>
        <%= link_to bank_accouts_path	do %>
          <i class="fa fa-money"></i>
          <span>Contas Bancárias</span>
        <% end %>
      </li>
      <!-- <li class="treeview">
          <a href="#">
            <i class='fa fa-link'></i>
            <span>Multilevel</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
        <ul class="treeview-menu">
          <li>
            <a href="#">Link in level 2</a>
          </li>
          <li>
            <a href="#">Link in level 2</a>
          </li>
        </ul>
      </li> -->
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
