doctype html

html lang="pt_br"
  head
    meta charset="UTF-8"/
    meta name="viewport" content="width=device-width, initial-scale=1.0"/
    meta http-equiv="X-UA-Compatible" content="ie=edge"/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    title Sistema Bancario
  body
    .container
      == yield